{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-9">
    
    <div class="mt-5 md:col-span-2 md:mt-0">
         {{ form_start(registrationForm) }}
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
              {{ form_label(registrationForm.nom_user) }}
              <br>
               {{ form_widget(registrationForm.nom_user) }}
              
              </div>

              <div class="col-span-6 sm:col-span-3">
                            {{ form_label(registrationForm.prenom_user) }}
              <br>
                {{ form_widget(registrationForm.prenom_user) }}
               
              </div>

              <div class="col-span-6 sm:col-span-4">
                            {{ form_label(registrationForm.email) }}
              <br>
              {{ form_widget(registrationForm.email) }}
               
              </div> 
               <div class="col-span-6 sm:col-span-5">
                             {{ form_label(registrationForm.pseudo_user) }}
              <br>
                 {{ form_widget(registrationForm.pseudo_user) }}
               
              </div>

              <div class="col-span-6">
              
                     {{ form_row(registrationForm.plainPassword, {
                          label: 'Password'
                      }) }}
              </div>

              <div class="col-span-6 sm:col-span-6 lg:col-span-2">
      
                {{ form_widget(registrationForm.agreeTerms) }}
              
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <button type="submit"  class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Register</button>
          </div>
        </div>
     {{ form_end(registrationForm) }}
    </div>
  </div>
</div>

       
      
        
 
 
       
 
{% endblock %}
