{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Nom_articles</th>
                <td>{{ article.nomArticles }}</td>
            </tr>
            <tr>
                <th>Description_articles</th>
                <td>{{ article.descriptionArticles }}</td>
            </tr>
            <tr>
                <th>Prix_articles</th>
                <td>{{ article.prixArticles }}</td>
            </tr>
            <tr>
                <th>Nds_articles</th>
                <td>{{ article.ndsArticles }}</td>
            </tr>
            <tr>
                <th>Quantite_articles</th>
                <td>{{ article.quantiteArticles }}</td>
            </tr>
            <tr>
                <th>Marque_articles</th>
                <td>{{ article.marqueArticles }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_articles_index') }}">back to list</a>

    <a href="{{ path('app_articles_edit', {'id': article.id}) }}">edit</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
